h1 {
    text-align: center;
}
h2{
    text-decoration: underline;
}
body {
    background-color: gray;
}
#submit-form {
    display: inline;
}
li {
    margin-top: 2px;
}
#form-container{
    display: flex;
    justify-content: center;
    justify-self: flex-start;
}
#form-container > button{
    margin-left: 10px;
}
#app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    width: 80vw;
    margin: 70px auto;
    background-color: beige;
    border: 3px solid black;
    border-radius: 20px;
}
#display-table{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    height: 60%;
    width: 80%;
}
#display-table > div,button {
    display: flex;
    flex-direction: column;
}


.table-title {
    display: flex;
    align-items: center;
}
.table-title > label {
    font-size: 1.4rem;
}